{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div style="margin-bottom: 10px;">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'products:index' %}">Warehouse</a>
        </div>
    </nav>
</div>

<div style="padding: 15px;">
    {% block page_content %} {% endblock %}
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>